*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
}

.card{
    width: 100%;
}

#NetworkDiag{
    width: 100%;
}

#NetworkDiag svg{
    width: 100%;
}